/* line 1, ../sass/style.sass */
.content {
  height: 300px;
  width: 300px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

/* line 14, ../sass/style.sass */
.content .headline {
  text-align: center;
}
