/* line 3, ../sass/style.sass */
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

/* line 7, ../sass/style.sass */
.frame {
  height: 300px;
  width: 300px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  -webkit-box-shadow: 0 0 60px #333333;
  -moz-box-shadow: 0 0 60px #333333;
  box-shadow: 0 0 60px #333333;
}

/* line 22, ../sass/style.sass */
.logo {
  width: 80%;
  display: block;
  margin: -35px auto 0;
}

/* line 27, ../sass/style.sass */
.getinfo {
  display: none;
  margin-top: 30px;
}

/* line 31, ../sass/style.sass */
.contact {
  position: absolute;
  bottom: -18px;
  left: 50%;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 22px;
  background: white;
  border: 4px solid #cccccc;
  width: 148px;
  padding: 6px;
  height: 38px;
  margin-left: -74px;
}

/* line 45, ../sass/style.sass */
.cta {
  border-top: 1px solid #cccccc;
  font-size: 16px;
  margin: 16px auto 0;
  text-align: center;
  padding-top: 12px;
  width: 70%;
}

/* line 53, ../sass/style.sass */
label {
  margin-right: 10px;
}

/* line 56, ../sass/style.sass */
.row {
  text-align: center;
  margin: 10px;
}

/* line 60, ../sass/style.sass */
::-webkit-input-placeholder {
  text-transform: uppercase;
}

/* line 63, ../sass/style.sass */
:-moz-placeholder {
  text-transform: uppercase;
}

/* line 66, ../sass/style.sass */
:-ms-input-placeholder {
  text-transform: uppercase;
}

/* line 69, ../sass/style.sass */
input, textarea {
  padding: 5px;
  border-radius: 5px;
  width: 75%;
  border: 2px solid #cccccc;
  resize: none;
}

/* line 76, ../sass/style.sass */
[type="submit"] {
  background: white;
  border-radius: 22px;
  font-size: 16px;
  padding: 6px 20px;
  display: block;
  margin: auto;
  border: 1px solid #cccccc;
  text-transform: uppercase;
}

/* line 86, ../sass/style.sass */
:focus {
  outline-color: #f8a21b;
}
